<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>AskDjango Blog</title>
</head>
<body>
    blog/templates/blog/post_list.html

    <h1>AskDjango</h1>

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" />
    </form>

    <ul>
        {% for post in post_list %}
            <li>
                {{ post.title }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
