{% extends "blog/layout.html" %}
{% load staticfiles %}

{% block content %}
    <p>
        <img src="/static/blog/djangopony.png" style="width: 200px;" />
        <img src="{% static "blog/djangopony.png" %}" style="width: 200px;" />
    </p>

    blog/templates/blog/post_list.html

    <h1>AskDjango</h1>

    {% comment %}
        이 부분은 주석입니다.
        처리되지 않을거예요.
        {% for post in post_list %}
        {% endfor %}
    {% endcomment %}

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" />
    </form>

    <ul>
        {% for post in post_list %}
            <li>
                <a href="{% url "blog:post_detail" post.id %}">{{ post.title }}</a>
                hit : {{ post.hits }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

